<%= simple_form_for [@story, @story_option] do |f| %>
  <%= f.collection_radio_buttons(:option, @options,
    :id,
    :name,
    collection_wrapper_tag: "div",
    collection_wrapper_class: "options-wrapper",
    item_wrapper_tag: "div",
    item_wrapper_class: "options-card",
    ) do |b| %>
      <%= b.label {
        b.radio_button + cl_image_tag(b.object.picture.key,
          secure: true,
          transformation: [
            {height: "100", width: "100", crop: "fill"},
            {:quality=>"auto", :fetch_format=>:auto}
            ]) + b.text
        # + '<div class="option-tickmark hidden-tickmark" data-option-selection-target="tickmarks">
        #   <i class="fa-solid fa-circle-check"></i>
        # </div>'.html_safe
        } %>
    <% end %>
    <div class="bottom-buttons-wrapper">
      <%= f.button :submit, "Valider", class: "btn btn-standard btn-large" %>
    </div>
<% end %>
