// Define variables for your color scheme

// For example:
$red: #EE4266;
$purple: #8a3ec4;
$pink: #fec7fb;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #7BC950;
$taupe: #463F3A;
$light-gray: #F4F4F4;
