<div class="header">
  <h1>Ma famille</h1>
  <div class="quit"></div>
</div>
<div class="container">
  <div class= "children-grid">
    <% @children.each do |c| %>
      <div class="child-card">
        <div class="child-image-border">
          <div class="child-image">
            <%= cl_image_tag(c.avatar.key,
                            width: 120,
                            height: 120,
                            crop: :fill,
                            gravity: :faces) %>
          </div>
        </div>
        <div class="child-name">
          <p><%= c.first_name %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="buttons">
    <%= button_to "Add child", children_create_path, { class: "btn-standard"} %>
    <%#= button_to "Add voice" voice_create_path, { class: "btn-standard"} %>
  </div>
</div>
