<div class="header">
  <h1>Ma famille</h1>
  <div class="quit"></div>
</div>
<div class="container" data-controller="create-child">
  <div class="create-child d-none" data-create-child-target="form"></div>
  <div class= "children-grid">
    <% @children.each do |c| %>
      <div class="child-card">
        <div class="child-image-border">
          <div class="child-image">
            <%= cl_image_tag(c.avatar.key,
                            width: 130,
                            height: 130,
                            crop: :fill,
                            gravity: :faces) %>
          </div>
        </div>
        <div class="child-name">
          <p><%= c.first_name %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="buttons">
    <div class="btn-standard" data-action="click->create-child#revealForm">Add child</div>
    <%#= button_to "Add voice" voice_create_path, { class: "btn-standard"} %>
  </div>
</div>
