// Specific CSS for your home-page
.intro-screen-top {
  height: 13vh;
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    margin: 0px;
  }
}

.intro-screen-middle {
  height: 74vh;
  background-image: url(asset-path('intro_screen_castle'));
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  .welcome-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    column-gap: 20px;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    h3 {
      margin: 0px;
    }
    .child-card {
      width: 90px;
    }
    .child-image-border {
      width: 90px;
      height: 90px;
    }
    .child-image {
      width: 80px;
      height: 80px;
    }
  }
  .home-play-button {
    margin-top: 100px;
    font-size: 70px;
    border-radius: 50%;
    display: block;
    line-height: 200px;
    width: 200px;
    background-color: white;
    color: $blue;
    text-decoration: none;
    text-align: center;
  }
}

.intro-screen-bottom {
  height: 13vh;
  position: sticky;
  bottom: 0px;
  background-color: $light-pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  padding: 0px 20px;
}
