.story-status{
  height: calc(100vh - 66px);
  margin-top: 66px;
  padding-left: 0px;
  padding-right: 0px;
  background-size: cover;
  background-position: center;
}

.story-preparation {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(asset-path('storytime'));
  background-attachment: fixed;
}
.loader-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 40px 25px;
  text-align: center;
  border: 1px solid $light-gray;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  opacity: 0.95;
  background-color: white;
  height: 380px;
  width: 300px;
  position: absolute;
}
.link-to-others{
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between ;
}
.loading-icon {
  font-size: 72px;
}

.story-show {
  width: 100%;
  height: 100%;
}
.story-picture-container {
  width: 100%;
  height: 100%;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
.story-picture {
  transition: opacity 3s;
  height: 100%;
  width: 100%;
}

.story-end {
  // padding: 20px;
  height: 100%;
  width: 100%;
}
.story-end-horizontal-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  column-gap: 20px;
  margin-top: 12px;
}

.story-end-picture-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
  align-items: center;
  justify-content: center;

  .centered-repeat-button {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $blue;
    color: white;
    font-size: 30px;
    width: 75px;
    height: 75px;
  }
}

.story-end-card {
  position: fixed;
  top: 40%;
  left: 5vw;
  background: rgba(255, 255, 255, 0.97);
  border-radius: 12px;
  padding: 16px;
  width: 90vw;
}
.stories-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.story-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid $light-gray;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  background-color: rgba(255, 255, 255, 0.96);

  p {
    margin-bottom: 6px;
  }
}
.story-card-bottom {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.small-story-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid $light-gray;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  opacity: 0.85;
  background-color: white;
  span {
    margin-top: 8px;
    line-height: 16px;
  }
}
.small-story-card-bottom {
  display: flex;
  justify-content: space-between;
}

.story-title {
  font-weight: bold;
  color: $primary;
  font-size: 20px;
}
