<div class="story-show" data-controller="picture-display" data-picture-display-playing-value="false">
  <h1><%= @story.title %></h1>
  <div data-picture-display-target="pictureContainer" class="story-picture-container">
    <% @story.pictures.each do |p| %>
      <%= cl_image_tag(p.key, secure: true, width: 290, height: 290, class: "story-picture story-picture-hidden", id: "audio-player", data: { picture_display_target: "picture"}) %>
    <% end %>
  </div>
  <div>
    <audio controls data-action="play->picture-display#play pause->picture-display#pause">
      <source src="<%= url_for(@story.audio) %>">
    </audio>
  </div>
</div>
