<h1>Choisis une voix</h1>
<%= simple_form_for @story do |s| %>
  <%= s.collection_radio_buttons(:voice_id, @voices,
    :id,
    :name,
    collection_wrapper_tag: "div",
    collection_wrapper_class: "voices-selection-wrapper",
    item_wrapper_tag: "div",
    item_wrapper_class: "voice-selection-card"
    ) do |b| %>
      <%= b.label {
        b.radio_button +
        "

          <div>
            <div class='d-flex'>

              <div data-controller='audio-player'>
                <div class='media-controls'>

                  <div class='media-buttons'>

                    <button
                      type='button'
                      class='light-play-button media-button'
                      data-action='click->audio-player#play'
                      data-audio-player-target='playButton'>
                      <i class='fa-solid fa-play'></i>
                    </button>

                    <button
                      type='button'
                      class='light-pause-button media-button'
                      hidden
                      data-action='click->audio-player#pause'
                      data-audio-player-target='pauseButton'>
                      <i class='fas fa-pause'></i>
                    </button>

                  </div>

                </div>
                <audio
                  hidden
                  secure='true'
                  controls='controls'
                  data-audio-player-target='audio'
                  src=#{url_for(b.object.audio)}>
                </audio>
              </div>
              <h2 class='ms-2'>#{b.object.name}</h2>
            </div>
            <span>Créée le #{b.object.created_at.strftime("%d/%m/%y")}<br></span>
            <span>Utilisée par #{b.object.stories.count} histoires</span>


        </div>".html_safe
      } %>
    <% end %>
    <div class="bottom-buttons-wrapper">
      <%= s.button :submit, "Inventer une histoire", class: "btn btn-standard btn-large" %>
    </div>
<% end %>
