<h1>Choisis une voix</h1>
<%= simple_form_for @story do |s| %>
  <%= s.association :voice, as: :radio_buttons, label: "Voix" %>
  <%= s.button :submit, "Créer l'histoire !", class: "btn btn-standard" %>
<% end %>
