<h1>Choisis une voix</h1>
<%= simple_form_for @story do |s| %>

  <%= s.collection_radio_buttons(:voice_id, @voices,
    :id,
    :name,
    collection_wrapper_tag: "div",
    collection_wrapper_class: "voices-selection-wrapper",
    item_wrapper_tag: "div",
    item_wrapper_class: "voice-selection-card"
    ) do |b| %>
      <%= b.label {
        b.radio_button +
        "<h2>#{b.object.name}</h2>".html_safe +
        "<span>Created on #{b.object.created_at.strftime("%A %-d %B %Y")}</span>".html_safe +
        "<span>Used in #{b.object.stories.count} stories</span>".html_safe
      } %>
    <% end %>
  <%= s.button :submit, "Generate story", class: "btn btn-standard" %>
<% end %>
