<%= link_to "Back to all stories", stories_path %>
<div data-controller="story-status" data-story-status-storyid-value="<%= @story.id %>">
  <div class="story-preparation" data-story-status-target="preparation">
      <i class="fas fa-spinner fa-spin"></i>
      <h1>Story is being created...</h1>
  </div>
  <div class="story-show" data-story-status-target="available" hidden>
    <%# here stimulus inserts the _audio partial when it is available %>
  </div>
</div>
