body, .navbar {
  width: 100vw;
  max-width: 450px;
  margin: auto;
 }

.main-container {
  padding: 96px 20px 104px 20px;
  background-size: cover;
  background-position: center;
  min-height: 844px;
}

.bottom-buttons-wrapper {
  height: 10vh;
  position: fixed;
  bottom: 0px;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  max-width: 450px;
}

#planet-background {
  background-image: url(asset-path('planet_picture'));
  background-attachment: fixed;
  max-height: 654px;
}

#castle-background {
  background-image: url(asset-path('mountain_picture'));
  background-attachment: fixed;
  max-height: 654px;
}

#forest_children-background {
  background-image: url(asset-path('forest_children_picture'));
  background-attachment: fixed;
  max-height: 654px;
}

#builders-background {
  background-image: url(asset-path('builders_picture'));
  background-attachment: fixed;
  max-height: 654px;
}

#children-running-background {
  background-image: url(asset-path('children_running_picture'));
  display: block;
  background-attachment: fixed;
  max-height: 654px;
}

#child-creation-background {
  background-image: url(asset-path('child_creation_picture'));
  background-attachment: fixed;
  max-height: 654px;
}
