body  {
  width: 100vw;
  max-width: 450px;
  margin: auto;
 }

.main-container {
  padding: 30px 20px;
  background-size: cover;
  background-position: center;

  .bottom-buttons-wrapper {
    height: 10vh;
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    max-width: 450px;
  }
}

#planet-background {
  background-image: url(asset-path('planet_picture'));
  background-attachment: fixed;
}

#castle-background {
  background-image: url(asset-path('mountain_picture'));
  background-attachment: fixed;
}

#grotto-background {
  background-image: url(asset-path('grotto_picture'));
  // max-width: 150%;
  display: block;
  background-attachment: fixed;
}

#builders-background {
  background-image: url(asset-path('builders_picture'));
  background-attachment: fixed;
}
