.btn-standard {
  background-color: $blue;
  height: 45px;
  color: $white;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 2px 2px 1px lightgray;
  text-align: center;
  align-items: center;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  &:hover {
      opacity: 1;
  }
}
.btn-large {
  width: 100%;
}
.btn-pink {
  background-color: $pink;
  color: $blue;
}
.btn-blue {
  background-color: $blue;
}
.btn-brick {
  background-color: $brick;
}
.btn-olive {
  background-color: $olive;
}
.buttons {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon-link {
  border-radius: 50%;
  line-height: 55px;
  display: block;
  width: 55px;
  background-color: $blue;
  color: $white;
  text-decoration: none;
  text-align: center;
}
.media-button {
  background-color: $light-pink;
  border: none;
  color: $blue;
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.play-button, .pause-button {
    background: $blue;
    color: white;
    font-size: 20px;
    width: 55px;
    height: 55px;
}
