.option-pictures-row {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;

}

.option-picture {
  border-radius: 12px;
  height: 60px;
  width: 60px;
  background-color: $light-gray;
}
