.stories-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.story-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid $light-gray;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  opacity: 0.85;
  background-color: white;

  p {
    margin-bottom: 6px;
  }
}

.story-card-bottom {
  display: flex;
  justify-content: space-between;
  height: 75px;
}
