// TODO display this container when reading a story
.stories-display-container {
  padding-top: 66px;
  padding-left: 0px;
  padding-right: 0px;
  background-size: cover;
  background-position: center;
  min-height: 844px;
}

.stories-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.story-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid $light-gray;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  background-color: rgba(255, 255, 255, 0.96);

  p {
    margin-bottom: 6px;
  }
}

.story-card-bottom {
  display: flex;
  justify-content: space-between;
  height: 75px;
}

.small-story-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid $light-gray;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  opacity: 0.85;
  background-color: white;
  span {
    margin-top: 8px;
    line-height: 16px;
  }
}

.small-story-card-bottom {
  display: flex;
  justify-content: space-between;
}

.story-picture-container {
  width: 100%;
  padding: 0px;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.story-picture {
  position: fixed;
  left: -46px;
  height: 100%;
  margin: auto;
  opacity: 1;
  transition: opacity 3s;
  max-height: 100%;
}

.story-picture-hidden {
  opacity: 0;
  height: 0px;
  transition: opacity 3s;
}

.story-picture-final {
  border-radius: 12px;
  overflow: hidden;
}

.story-title {
  font-weight: bold;
  color: $primary;
  font-size: 20px;
}
